<li class="article">

  <a class="headArticleLink" rel="noopener noreferrer" target="_blank" href="{{url}}">
    <img class="articleImage" src="{{image}}" alt="">
    <h2 class="articleTitle">{{title}}</h2>
  </a>


  <span class="articleSectionInfo">{{section}}</span>
  <p class="articleText">{{abstract}}</p>
  <div class="tagsContainer">{{#each tags}}<span class="articleTag">{{this}}</span>{{/each}}</div>
  <div class="btn-wrapper">
    <button class="articleButton">Load more
      <a class="articleLink" rel="noopener noreferrer" target="_blank" href="{{url}}"></a>
    </button>
  </div>
  {{!-- <div class="addToStorageButtonBox" title="add to storage">
    <button class="addToStorageButton" data-type="addToStorageButton" data-articleId={{id}}>&#43;</button>
  </div> --}}
</li>